{
	"presets": [
		"react",
		["env", {
			"targets": {
				"browsers": "last 2 versions"
			},
			"loose": true,
			"modules": false
		}]
	],
  "plugins": [
    "react-hot-loader/babel", // this top level property is required for hot module reload
    "babel-plugin-transform-class-properties"
  ],
  "env": {
    "test": { //For tests to be able to use ES6
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "server": { //For node to understand how to do ES6 modules
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
